.contact-form{
    margin: 160px auto;
    max-width: 797px;
    text-align: center;
    width: 100%;
}
h2{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 130px;
}
.contact-form form{
    margin: 40px 0 0 0;
    width: 100%;
}
.contact-form p{
    font-size: 10px;
    margin: 0;
}
.contact-form .form-group{
    column-gap:39px ;
    margin: 40px 0 0 0;
}
input{
    margin-left: 30px;
}
textarea{
    margin-top: 10px;
    margin-left: 30px;
}
button{
    margin-left: 130px;
}